<template>
    <h1>Welcome to homepage!</h1>
    <div>
        <router-link to="/admin/home">Admin Dashboard</router-link>
    </div>
    <div>
        <router-link to="/login">Login</router-link>
    </div>
</template>