<script setup>
    import {reactive, ref} from 'vue'
    import {useRouter} from 'vue-router'

    const router = useRouter()
    
    let form = reactive({
        email: '',
        password: '',
    })

    let error = ref('')

    const login = async()=>{
        await axios.post('/api/login', form)
            .then(response=>{
                if(response.data.success){
                    localStorage.setItem('token', response.data.data.token)
                    router.push('/admin/home')
                }else{
                    error.value = response.data.message;
                }
        })
    }

</script>
<template>
    <div class="login">
        <div class="formLogin">
            <p class="textDanger" v-if="error">{{ error }}</p>
            <form @submit.prevent="login">
                <input type="email" placeholder="Enter your email" v-model="form.email">
                <br>
                <input type="password" placeholder="Enter your password" v-model="form.password">
                <br>
                <input type="submit" value="Login" class="submit">
            </form>
        </div>
    </div>
</template>
<style>
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
    }

    .login{
        background: #6c5ce7;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
    }

    .formLogin{
        display: flex;
        align-items: center;
        width: 22.8em;
        height: 55em;
        margin: 0 auto 0 auto;
        overflow: hidden;
    }

    .submit{
        text-transform: uppercase;
        cursor: pointer;
    }

    .textDanger{
        color: red;
    }
</style>