<script setup>
    import Header from './header.vue'
    import Sidebar from './sidebar.vue'
</script>
<template>
    <div class="base">
        <Header/>
        <Sidebar/>
    </div>
</template>
<style>
@import './base.css';
</style>